/cache/
/node_modules/
/vendor/
/.idea/
/.vscode/
npm-debug.log
yarn-error.log
.DS_Store

# Optional ignores
/build_local/
/build_staging/
/build_production/
/source/assets/build/css/
/source/assets/build/fonts/
/source/assets/build/js/
/source/assets/build/*.json
.phpunit.result.*
