@import '../../font-sizes';
@import '../../spacing';

$content-max-width: 70vw;

.content {
  padding: $website-content-padding;
  margin: 0 auto;
  margin-top: 10px;
  max-width: $content-max-width;
}
