@import '../../font-sizes';
@import '../../spacing';
@import '../../mixins/media';

$content-max-width: 70vw;

.content {
  padding: $website-content-padding;
  margin: 0 auto;
  margin-top: 10px;
  @include above-tablet {
    max-width: $content-max-width;
  }
}

