@import '../../colors';
@import '../../z-index';
@import '../../mixins/media';

.side-menu {
  display: none;
  z-index: $max-level;
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  width: 80vw;
  padding: 2em;
  overflow: auto;
  background-color: $sidemenu-background-color;

  @include above-mobile {
    width: 50vw;
  }

  @include above-tablet {
    width: 30vw;
  }

  &--visible {
    display: block;
  }

  &__overlay {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 20vw;
    background-color: rgba(0, 0, 0, .7);

    @include above-mobile {
      width: 50vw;
    }

    @include above-tablet {
      width: 70vw;
    }
  }

  &__close-button {
    position: absolute;
    top: 0;
    right: 0;
    margin: .8em;
    background: none;
    border: none;
  }

  &__item {
    font-size: 15px;
    padding: 1em 0;

    &__link {
      color: #777;
      font-family: "Josefin Sans", Helvetica, Arial, sans-serif; //@todo -> Adicionar fontes
      font-weight: 900;
      text-transform: uppercase;
      text-decoration: none;
      display: block;
      letter-spacing: 1px;
      width: 100%;

      &:hover {
        color: #222;
      }
    }
  }

  &__separator {
    height: 1px;
    border: 1px solid #e1e1e1;
  }
}
