@import '../../colors';
@import '../../z-index';

.side-menu {
  display: none;
  z-index: $max-level;
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  width: 90vw;
  padding: 2em;
  overflow: auto;
  background-color: $sidemenu-background-color;
  box-shadow: -20vw 0 0 0 rgba(0, 0, 0, .7);

  &--visible {
    display: block;
  }

  &__overlay {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 10vw;
  }

  &__item {
    font-size: 15px;
    padding-top: 1em;
    padding-bottom: 1em;

    &__link {
      color: #777;
      font-family: "Josefin Sans", Helvetica, Arial, sans-serif; //@todo -> Adicionar fontes
      font-weight: 900;
      text-transform: uppercase;
      text-decoration: none;
      display: block;
      letter-spacing: 1px;
      width: 100%;

      &:hover {
        color: #222;
      }
    }
  }
}
