@import '../colors';
@import '../mixins/media';

.episode__cover {
  text-align: center;

  &__image {
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 60vh;
    border-radius: 5px;
  }

  &__details {
    color: $secondary-title-color;
    text-align: center;
    display: block;
    font-size: 14px;
    font-weight: 200;
    line-height: 16px;
    padding: 5px 0;

    &--bold {
      font-weight: 600;
    }
  }
}
