@import '../colors';

.episode__cover {

  &__image {
    width: 100%;
    height: auto;
    border-radius: 5px;
  }

  &__details {
    color: $secondary-title-color;
    text-align: center;
    display: block;
    font-size: 14px;
    font-weight: 200;
    padding: 20px 0;
    line-height: 16px;

    &--bold {
      font-weight: 600;
    }
  }
}
