@import '../colors';
@import '../font-sizes';

.episode-card-compact-list {
  &__title {
    font-size: $font-size-primary-heading;
    text-align: center;

    &--separated {
      &::before {
        display: block;
        border: 1px solid $accent-color;
        margin: .5em auto;
        content: " ";
        max-width: 20px;
      }
    }
  }

  &__list {
    display: flex;
    flex-direction: column;
  }
}
