@import '../colors';
@import '../font-sizes';
@import '../mixins/media';

.episode-card-list {
  &__title {
    font-size: $font-size-primary-heading;
    text-align: center;
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(3, 33%);

    @include mobile-only {
      display: flex;
      flex-direction: column;
    }
  }

  &__list-item {
    padding: 0 10px;
  }
}
