@import '../../colors';

.top-nav {
  /* @todo Rollback once we have the final decision about the top menu */
  display: none;

  background-color: $header-background-color;
  min-height: 40px;
  text-align: center;

  &__item {
    display: inline-block;
    margin: 0 8px;
    font-size: 11px;
    letter-spacing: 2px;
    line-height: 42px;
  }

  &__link {
    color: $header-link-color;
    text-transform: uppercase;
    text-decoration: none;
  }
}
