@import '../../colors';
@import '../../font-sizes';

.heading {
  text-align: center;

  &__primary {
    margin: 10px 0;
    color: $primary-title-color;
    letter-spacing: normal;
    font-size: $font-size-primary-heading;
    line-height: calc(#{$font-size-primary-heading} * 1.4);
  }

  &__secondary {
    letter-spacing: normal;
    color: $primary-title-color;
    font-size: $font-size-secondary-heading;
    text-align: inherit;
  }
}
