@import '../../colors';

.lazy-image {
  height: 0px!important;
}

.responsive-image {
  width: 100%;
  padding: 5px;
  margin-top: 20px;

  &__subtitle {
    color: $primary-text-color;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    margin: 5px;

    &--bold {
      font-weight: 700;
    }
  }
}
