@import '../../colors';

.figure {
  margin-top: 20px;
  margin-bottom: 30px;

  &__image {
    width: 100%;
  }

  &__subtitle {
    color: $primary-text-color;
    font-weight: 400;
    font-size: 14px;

    &--centered {
      text-align: center;
    }

    &--left {
      text-align: left;
    }

    &--bold {
      font-weight: 700;
    }
  }
}
