@import '../../colors';

$link-color: $accent-color;

.link {
  color: $link-color;
  text-decoration: none;

  &:hover {
    color: darken($link-color, 20%);
    text-decoration: underline;
  }

  &--active {
    color: darken($link-color, 25%);
  }

  &--inactive {
    color: darken($link-color, 25%);
    text-decoration: none;

    &:hover {
      text-decoration: none;
    }
  }
}
