@import '../../colors';
@import '../../z-index';
@import '../../spacing';

.header_bar {
  background-color: $website-background-color;
  box-shadow: 0px 0px 2px $box-shadow-color;
  z-index: $above-2;
  position: sticky;
  top: 0;
  display: flex;
  padding: $website-content-padding;

  &::before {
    content: '';
    flex: 1;
  }

  &__logo {
    flex: 2;
    margin-left: 5px;
    align-items: center;
    text-align: center;

    img {
      max-width: 180px;
    }
  }

  &__menu {
    flex: 1;
    text-align: right;

    &__icon {
      flex: 1;
      background: none;
      border: none;
      text-align: right;
      height: 50px;
    }
  }
}
