/* Background-related colors */
$website-background-color: #fff;
$sidemenu-background-color: #fff;
$header-background-color: #000;
$box-shadow-color: #ccc;

/* Title-related colors */
$header-link-color: #fff;
$primary-title-color: #222;
$secondary-title-color: #777;

/* Textual elements -related colors */
$primary-text-color: #777;
$secondary-text-color: #999;

/* Accent color */
$accent-color: #ff8237;
