@import '../../mixins/media';

.share {
  position: sticky;
  top: 20%;
  display: flex;
  flex-direction: column;
  height: 0;

  &__item {
    @include desktop-only {
      position: relative;
      left: -10%;
    }
  }
}
